pip install --upgrade tkhtmlview
pip install tkhtmlview
pip install customtkinter
pip install tkinter-tooltip
pip install tkvideoplayer
# pip show customtkinter this shows the customtkinter path
pip install waitress
pip install flaskwebgui
pip install cx-Freeze
pip install Pillow
